<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="true" backupStaticAttributes="false" executionOrder="random" resolveDependencies="true" bootstrap="vendor/autoload.php" colors="true" cacheResult="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">lib</directory>
    </include>
    <report>
      <clover outputFile="./build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Tools Test Suite">
      <directory suffix="Test.php" phpVersion="7.1.0" phpVersionOperator="&gt;=">./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
